/*Default styling to apply to all page elements*/

body {
  box-sizing: border-box;
  background-color: gray;
}

a {
  text-decoration: none;
}

a:hover {
  color:yellow;
}

a:visited {


}

ul {
  padding:0;
  margin:0;
}

li {
  list-style-type: none;
}

/*-------------------HEADER----------------------------*/

/*-------------------NAME SECTION----------------------*/
.top-main-background {
  background-color: blue;
}

/*-------------------SKILLS----------------------------*/

.all-skill-icons {
  display: flex;
  flex-direction:column;
  justify-content: center;
  background-color: black;
  padding: 1rem;
}

.left-icons {
  display:flex;
  justify-content: space-around;
  padding-top: 0.5rem;
}
.right-icons {
  display: flex;
  justify-content: space-around;
  padding-top:0.5rem;

}

.each-icon {
  height: 8vh;
}

.jquery {
  height: 10vh;
  margin-top: -1vh;
}

.git {
  height:11vh;
  margin-top: -2vh;
  margin-right: -1vh;
}
.github {
  margin-top: -2vh;
  margin-right: -1vh;
  height: 10.5vh;
}
.css3 {
  height: 8vh;
}

.html5 {
  height: 8vh;
}

/*-------------------FEATURED PROJECT------------------*/
.featured-project, .four-portfolio-projects{
  background-color:black;
  color:white;
  display: flex;
  flex-direction: column;
  padding: 1.4rem;
  align-items: center;
  justify-content: center;
}

/*-------------------MORE PROJECTS---------------------*/

.four-portfolio-projects {
  background-color: gray;
}

.each-project {
  background-color: blue;
  margin-bottom: 1rem;
}
/*-------------------ABOUT ME--------------------------*/
/*-------------------FOOTER----------------------------*/




/***********MEDIA QUERIES*************/

/*-------------------SKILLS----------------------------*/


@media screen and (min-width: 768px) {
  .all-skill-icons {
    display: flex;
    flex-direction:row;
    background-color: black;
  }

  .left-icons {
    width: 50%;
  }
  .right-icons {
    width: 50%;
  }







}
